body {
    margin: 0;
    padding: 0;
}

#learn {
    font-family: "Playwrite DK Loopet", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

button {
    border: none;
    background: none;
}

.head-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    align-items: center;
}

.tempelate {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: lighten;
}

.tempelate-background {
    position: relative;
}

.before {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;

}

.before-text h2 {
    font-weight: bolder;
    font-size: xx-large;
}

.before-text ul {
    font-size: larger;
}

.after {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
}

.after-text h2 {
    font-weight: bolder;
    font-size: xx-large;
}

.after-text ul {
    font-size: larger;
}

.easy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.spantwo {
    color: #318CE7;
}

.pricing {
    text-align: center;
    align-content: center;
    height: 100px;
}

.price-button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.end{
    padding-left: 10px;
}
.foot{
    text-align: center;
    align-content: center;
}